{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ label }} Película {% endblock %}</h1>
    <form action="{{action}}" method="POST" class="horizontal">
      <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" name="title" value="{{request.form['title'] or movie['title']}}" class="form-control"></input>
      </div>
      <div class="form-group">
      <label for="year">Año:</label>
      <input type="text" name="year" value="{{request.form['year'] or movie['year']}}" class="form-control"></input>
      </div>
      <div class="form-group">
      <label for="director">Director:</label>
      <input type="text" name="director" value="{{request.form['director'] or movie['director']}}" class="form-control"></input>
      </div>
      <div class="form-group">
      <label for="rating">Rating</label>
      <input type="text" name="rating" value="{{request.form['rating'] or movie['rating']}}" class="form-control"></input>
      </div>
      <div class="form-group">
      <label for="rating">Crítica</label>
      <textarea name ="review" class="form-control">{{request.form['review'] or movie['review']}}</textarea>
      </div>
      <div class="form-group">
        <input type="hidden" name="id" value="{{request.form['id'] or movie['id']}}"></input>
        <input type="submit" value="Grabar" class="btn btn-primary"></input></div>
    </form>

{% endblock %}